@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Inter", sans-serif;
  --primary-color: #000000;
  --secondary-color: #ff9200;
}

body {
  font-family: var(--primary-font);
}

.question {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.clipboard {
  opacity: 0;
}

.opacity {
  opacity: 1;
}
